<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code_breakers.rythm" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:name="com.code_breakers.rythm.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code_breakers.rythm.MainActivity" />
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code_breakers.rythm.MainActivity" />
        </activity>
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".Create_circle"
            android:label="@string/title_activity_create_circle"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code_breakers.rythm.Dashboard" />
        </activity>
        <activity
            android:name=".posts"
            android:label="@string/title_activity_posts"
            android:parentActivityName=".Dashboard" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.code_breakers.rythm.Dashboard" />
        </activity>
        <activity
            android:name=".about"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
